.card-header{
	font-size: 25px;
	transition: font-size 0.1s;
}

.card-header:hover{
	cursor: pointer;
	font-size: 30px;
}

#vantaBG{
	height:100%;
	z-index: -1;
}

body{
	height:100vh;
}