body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------- FUNCIONALIDAD RESERVA --------- */
/*.container {
    margin-top: 25vh;
}*/

.bg-secondary {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: .25rem;
}

h1 {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 3vh;
}

button {
    width: 100%;
}

.card-body {
    flex: 1 1 auto !important;
    padding: 0 !important;
}

#elige {
    display: none;
}

#tipo {
    display: none;
}

#precioTotal {
    display: none;
}
/* --------- FUNCIONALIDAD RESERVA --------- */

main{
    margin-left: 30px;
    margin-right: 30px;
}
.carousel{
    margin-left: 300px;
    margin-right: 300px;
}
footer{
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
main{
    background-color: whitesmoke;
}
.separacion{
    margin-top: 10px;
}
.informacion{
    margin-top: 30px;
}
@media only screen and (max-width: 1300px) {
    #carouselExampleIndicators{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .mapa{
        width: 100px;
        height: 150px;
    }
}
@media only screen and (max-width: 1000px) {
    .mapa{
        width: 400px;
        height: 450px;
    }
}
@media only screen and (max-width: 700px) {
    .mapa{
        width: 200px;
        height: 250px;
    }
}
@media only screen and (max-width: 450px) {
    .letra{
        font-size: 8px;
    }
}



